{% extends "global/admin/panel-list.twig" %}

{% block header %}
    <h1>Task List</h1>
{% endblock %}

{% block buttons %}
    <a class="btn btn-danger" href="#">
        <i class="glyphicon glyphicon-remove"></i>
        刪除
    </a>
{% endblock %}

{% block content %}
    <table class="table table-striped">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="text-center"><input type="checkbox" /></th>
            <th class="text-center">索引</th>
            <th class="text-center">搜尋頁面數</th>
            <th class="text-center">總筆數</th>
            <th class="text-center">分析完成度</th>
            <th class="text-center">觀看所有頁面</th>
            <th class="text-center">ID</th>
        </tr>
        </thead>
        <tbody>
        {% set databases = helper.database.getDatabases() %}

        {% for i in 1..3 %}
            {% set title = helper.entry.buildKey() %}

            {% for db in databases %}
            <tr>
                <td class="text-center">
                    <input type="checkbox" />
                </td>

                <td>
                    <a href="edit">{{ title }} [{{ db }}]</a>
                </td class="text-center">

                <td class="text-center">
                    {% set pages = random(9) + 1 %}
                    {{ pages }}
                </td>

                <td class="text-center">
                    {% set rows = (pages * 100) + random(99) + 1 %}
                    {{ rows }}
                </td>

                <td class="text-center">
                    <div class="progress">
                        {% set complete = random(100) %}
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ complete }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ complete }}%">
                            <span class="sr-only">{{ complete }}% Complete</span>
                        </div>
                    </div>
                </td>

                <td class="text-center">
                    <a class="btn btn-sm btn-info" href="../page/index">
                        觀看所有頁面
                    </a>
                </td>

                <td class="text-center">
                    {{ i + 100548 }}
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>

        <tfoot>
        <tr>
            <td class="text-center" colspan="10">
                {% include "global/blocks/pagination.twig" %}
            </td>
        </tr>
        </tfoot>
    </table>
{% endblock %}